<div class="cart-widget-container">
    <div class="cart-widget text-center">
        <a class="close" id="cart-widget-close">
            <span class="ti-close"></span>
        </a>
        <h1>Goshop</span></h1>
        <h3 class="section-heading">Your cart</h3>
        <div id="cart-empty" class="cart-empty"><h4>is empty <span class="ti-face-sad icon"></span> </h4></div>
        <!-- container for js inject cart items content -->
        <div class="items-container" id="items"></div>
        <!-- container for js inject cart items content -->

        <div class="cart-delivery" id="cart-delivery">
            <div class="custom-radio">
                <input id="radio1" type="radio" name="delivery" value="10.00" checked> 
            </div>

            <div class="custom-radio">
                <input id="radio2" type="radio" name="delivery" value="15.00"> 
            </div>

            <div class="custom-radio">
                <input id="radio3" type="radio" name="delivery" value="20.00"> 
            </div>
        </div>
        <div class="cart-summary" id="cart-summary">
            <h4 class="section-heading">summary</h4>
            <div class="cart-summary-row" id="cart-total">Total products <span class="cart-value">$<span id="cost_value">0.00</span></span></div>
            <div class="cart-summary-row">Shipping <span class="cart-value">$<span id="cost_delivery"></span></span></div>
            <div class="cart-summary-row cart-summary-row-total">Total <span class="cart-value">$<span id="total-total"></span></span></div>
        </div>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="cart-form" id="cart-form">
            <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="business" value="yourpaypal@email.com">
            <!-- Specify a Buy Now button. -->
            <input type="hidden" name="cmd" value="_xclick">
            <!-- Specify details about the item that buyers will purchase. -->
            <input type="hidden" name="item_name" value="Goshop shop - checkout">
            <input type="hidden" name="amount" id="amount" value="">
            <input type="hidden" name="currency_code" value="USD">
            <!-- Display the payment button. -->
            <button type="submit" name="submit" class="btn btn-default btn-lg">
            pay pal checkout <span class="ti-arrow-right"></span>
            </button>
        </form>
    </div>
    <div class="cart-widget-close-overlay"></div>
</div>