{%load static%}
<nav class="navbar navbar-fixed-top shadow" id="js-nav">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" href="#"> <img src="{{setting.logo_site.url}}" width ="100px" alt="" /> </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#men">Men</a></li>
                <li><a href="#women">Women</a></li>
                    
                <li><a href="#testimonials">testimonials</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
        </div>
    </div>
</nav>