{%load static%}
<!DOCTYPE html>
<html lang="zxx">

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<title> {{setting.name_site}} - {{setting.description_site}}</title> 
	<meta content="" name="description">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="width=device-width" name="viewport">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<link href="{{setting.logo_site.url}}" rel="icon" type="image/png">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link href="{% static 'assets-for-index-2/css/bootstrap-light.css' %}" rel="stylesheet">
	<link id="pagestyle" href="{% static 'assets-for-index-2/css/theme-light.css' %}" rel="stylesheet">
	<link href="{% static 'style-index-2.css' %}" rel="stylesheet">
	<link href="{% static 'assets-for-index-2/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets-for-index-2/css/responsive.css' %}" rel="stylesheet">
</head>


    {%block content%}

    {%endblock%}

</div>
	
<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/vendor/swiper.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.inview.js' %}"></script>
<script src="{% static 'js/vendor/jquery.countdown.js' %}"></script>
<script src="{% static 'js/tt-cart.js' %}"></script>
<script src="{% static 'js/ajax-mail.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>