{% extends 'homepage.html'%}
{%load static%}
{% block content%}

	<!-- PRELOADER -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->
	<!-- header -->
	{% include 'header.html'%}
	<!--/ End header -->
	
	<!-- slider -->
	<section class="home section image-slider" id="home">
		<div class="home-slider text-center">
			<div class="swiper-wrapper">
				<div class="swiper-slide" style="background: url({{slide.slide_image_1.url}});width = "1813px"">
					<h1>{{slide.name_slide_1}}<span class="hglight"></span></h1>
					<h2 class="home-slider-title-main">{{slide.desc_slide_1}}</h2>
					<div class="home-buttons text-center"> <a href="#products" class="btn btn-lg  btn-primary">our products</a> </div>
					<a class="arrow bounce text-center" href="#about"> <span class="ti-mouse"></span> <span class="ti-angle-double-down"></span> </a>
				</div>
				<div class="swiper-slide" style="background: url({{slide.slide_image_2.url}});">
					<h1>{{slide.name_slide_2}}</h1>
					<h2 class="home-slider-title-main">{{slide.desc_slide_2}}</h2>
					<div class="home-buttons text-center"> <a href="#products" class="btn btn-lg  btn-primary">our products</a> </div>
					<a class="arrow bounce text-center" href="#about"> <span class="ti-mouse"></span> <span class="ti-angle-double-down"></span> </a>
				</div>
			</div>
			<div class="home-pagination"></div>
			<div class="home-slider-next right-arrow-negative"> <span class="ti-arrow-right"></span> </div>
			<div class="home-slider-prev left-arrow-negative"> <span class="ti-arrow-left"></span> </div>
		</div>
	</section>	
	<!--/ slider -->
	
	<!-- cart section -->
	<span id="items-counter" class="h3 cart-items-counter" style="display: none">0</span>
	<div class="cart-widget-container">
		<div class="cart-widget text-center">
			<a class="close" id="cart-widget-close">
				<span class="ti-close"></span>
			</a>
			<h1>Goshop</span></h1>
			<h3 class="section-heading">Your cart</h3>
			<div id="cart-empty" class="cart-empty"><h4>is empty <span class="ti-face-sad icon"></span> </h4></div>
			<!-- container for js inject cart items content -->
			<div class="items-container" id="items"></div>
			<!-- container for js inject cart items content -->

			<div class="cart-delivery" id="cart-delivery">
				<h4 class="section-heading">Delivery option</h4>
				<div class="custom-radio">
					<input id="radio1" type="radio" name="delivery" value="10.00" checked> 
					<label for="radio1">domestic delivery ($10)</label>
				</div>

				<div class="custom-radio">
					<input id="radio2" type="radio" name="delivery" value="15.00"> 
					<label for="radio2">express domestic delivery ($15) </label>
				</div>

				<div class="custom-radio">
					<input id="radio3" type="radio" name="delivery" value="20.00"> 
					<label for="radio3">worldwide delivery ($20)</label>
				</div>
			</div>
			<div class="cart-summary" id="cart-summary">
				<h4 class="section-heading">summary</h4>
				<div class="cart-summary-row" id="cart-total">Total products <span class="cart-value">$<span id="cost_value">0.00</span></span></div>
				<div class="cart-summary-row">Shipping <span class="cart-value">$<span id="cost_delivery"></span></span></div>
				<div class="cart-summary-row cart-summary-row-total">Total <span class="cart-value">$<span id="total-total"></span></span></div>
			</div>

			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="cart-form" id="cart-form">
				<!-- Identify your business so that you can collect the payments. -->
				<input type="hidden" name="business" value="yourpaypal@email.com">
				<!-- Specify a Buy Now button. -->
				<input type="hidden" name="cmd" value="_xclick">
				<!-- Specify details about the item that buyers will purchase. -->
				<input type="hidden" name="item_name" value="Goshop shop - checkout">
				<input type="hidden" name="amount" id="amount" value="">
				<input type="hidden" name="currency_code" value="USD">
				<!-- Display the payment button. -->
				<button type="submit" name="submit" class="btn btn-default btn-lg">
				pay pal checkout <span class="ti-arrow-right"></span>
				</button>
			</form>
		</div>
		<div class="cart-widget-close-overlay"></div>
	</div>
	<!--/ cart section end -->
	


	<!-- Banner Area Start Here -->
	<div class="banner-area h3_banner">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12 ">
					<div class="banner-box banner-type-5 banner-hover-3 nnrrnew">
						<div class="banner-inner">
							<div class="banner-image">
								<img src="{% static 'assets-for-index-2/img/h3ad1.jpg' %}" alt="Banner">
							</div>
							<div class="banner-info">
								<div class="banner-info--inner one_inr">
									
									<p class="heading-bigger text-capitalize">Gloves</p>
									<p class="banner-title-1 text-uppercase font-weight-bold">50% off Medical Gloves</p>
								</div>
							</div>
							<a class="banner-link banner-overlay" href="#">Shop Now</a>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-sm-12 ">
					<div class="banner-box banner-type-5 banner-hover-3 mm_b_30">
						<div class="banner-inner">
							<div class="banner-image">
								<img src="{% static 'assets-for-index-2/img/h3ad2.jpg' %}" alt="Banner">
							</div>
							<div class="banner-info">
								<div class="banner-info--inner two_inr">
									<p class="banner-title-1 font-weight-bold text-uppercase">Disposable Face Mask</p>
									<p class="banner-title-4">
										<span>Off 70%</span>
									</p>
									<p class="banner-title-5">Don't Miss </p>
								</div>
							</div>
							<a class="banner-link banner-overlay" href="#">Shop Now</a>
						</div>
					</div>

					<div class="banner-box banner-type-5 banner-hover-3 mm_b_30">
						<div class="banner-inner">
							<div class="banner-image">
								<img src="{% static 'assets-for-index-2/img/h3ad3.jpg' %}" alt="Banner">
							</div>
							<div class="banner-info">
								<div class="banner-info--inner three_inr">
									<p class="banner-title-1 font-weight-bold text-uppercase">Hand Shop</p>
									<p class="banner-title-4">
										<span>Off 50%</span>
									</p>
									<p class="banner-title-5">Don't Miss This</p>
								</div>
							</div>
							<a class="banner-link banner-overlay" href="#">Shop Now</a>
						</div>
					</div>

				</div>



			</div>
		</div>
	</div>
	<!-- Banner Area End Here -->

	
	<!-- products area -->	
	
	<section class="section-min section product " id="men">
		<div class="container overflow-hidden">
			<div class="row">
				<div class="col-md-12">
					<h3 class="section-heading">Men Products</h3>
				</div>
				<div class="col-md-12">
					<div class="product-list-sliderd">
						<ul class="swiper-wrappers product-list product-list-vertical">
							{%for men in men%}
							<li class="swiper-slidess text-center"> 
								<span class="product-list-left pull-left">
							    	<span class="sale-p">sale</span>
									<a href="#" data-target="#mens" data-toggle="modal"><img alt="product image" class="product-list-primary-img" src="{{men.product_image_1.url}}"> 
									<img alt="product image" class="product-list-secondary-img" src="{{men.product_image_2.url}}">
									</a>
								</span> 

								<a href="#" data-target="#mens" data-toggle="modal">
									<span class="product-list-right pull-left">
										<span class="product-list-name h4 black-color">{{men.name}}</span>
										<span class="product-list-price">${{men.price}}</span>
										<span class="rating-area">
											<span class="ti-star "></span>
											<span class="ti-star "></span>
											<span class="ti-star "></span>
											<span class="ti-star"></span>
											<span class="ti-star"></span>
										</span>
									</span>
								</a> 

							</li>
							<div class="modal fade product-modal" id="mens" role="dialog" tabindex="-1">
								<div class="modal-dialog">
									<!-- Modal content-->
									<div class="modal-content shadow">
										<a class="close" data-dismiss="modal"> <span class="ti-close"></span></a>
										<div class="modal-body">
											<!-- Wrapper for slides -->
											<div class="carousel slide product-slide" id="product-men">
												<div class="carousel-inner cont-slider">
													<div class="item active"> <img alt="" src="{{men.product_image_1.url}}" title=""> </div>
													<div class="item"> <img alt="" src="{{men.product_image_2.url}}" title=""> </div>
													<div class="item"> <img alt="" src="{{men.product_image_3.url}}" title=""> </div>
													<div class="item"> <img alt="" src="{{men.product_image_4.url}}" title=""> </div>
												</div>
												<!-- Indicators -->
												<ol class="carousel-indicators">
													<li class="active" data-slide-to="0" data-target="#product-men"> <img alt="" src="{{men.product_image_1.url}}"> </li>
													<li class="" data-slide-to="1" data-target="#product-men"> <img alt="" src="{{men.product_image_2.url}}"> </li>
													<li class="" data-slide-to="2" data-target="#product-men"> <img alt="" src="{{men.product_image_3.url}}"> </li>
													<li class="" data-slide-to="3" data-target="#product-men"> <img alt="" src="{{men.product_image_4.url}}"> </li>
												</ol>
											</div>
											<!-- Wrapper for slides -->
											<div class="container">
												<div class="row">
													<div class="col-md-8 col-md-push-2">
														<div class="row">
															<div class="col-md-7">
																<h3 class="pull-left nk section-heading">{{men.name}}</h3>
															</div>
															<div class="col-md-5">
																<span class="product-right-section">
																	<span>${{men.price}}</span>
																</span>
															</div>
														</div>
													</div>
													<div class="col-md-8 col-md-push-2 product-description">
														<h4 class="section-heading">{{men.desc}}</h4>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{%endfor%}
							
						</ul>
					</div>				
				</div>

				<div class="single-category-box2 ">
					
					<a class="link-btn" ><img src="{% static 'assets-for-index-2/img/lg3.jpg' %}" alt="image"></a>
				</div>


				
				
			</div>
		</div>
		
		<!-- PRODUCT MODAL -->
		
		<!-- / PRODUCT MODAL -->
	</section>

	<section class="section-min section product " id="women">
		<div class="container overflow-hidden">
			<div class="row">
				<div class="col-md-12">
					<h3 class="section-heading">Women Products</h3>
				</div>
				<div class="col-md-12">
					<div class="product-list-sliderd">
						<ul class="swiper-wrappers product-list product-list-vertical">
							{%for women in women%}
							<li class="swiper-slidess text-center"> 
								<span class="product-list-left pull-left">
							    	<span class="sale-p">sale</span>
									<a href="#" data-target="#womens" data-toggle="modal"><img alt="product image" class="product-list-primary-img" src="{{women.product_image_1.url}}"> 
									<img alt="product image" class="product-list-secondary-img" src="{{women.product_image_2.url}}">
									</a>
								</span> 

								<a href="#" data-target="#womens" data-toggle="modal">
									<span class="product-list-right pull-left">
										<span class="product-list-name h4 black-color">{{women.name}}</span>
										<span class="product-list-price">${{women.price}}</span>
										<span class="rating-area">
											<span class="ti-star "></span>
											<span class="ti-star "></span>
											<span class="ti-star "></span>
											<span class="ti-star"></span>
											<span class="ti-star"></span>
										</span>
									</span>
								</a> 

							</li>
							<div class="modal fade product-modal" id="womens" role="dialog" tabindex="-1">
								<div class="modal-dialog">
									<!-- Modal content-->
									<div class="modal-content shadow">
										<a class="close" data-dismiss="modal"> <span class="ti-close"></span></a>
										<div class="modal-body">
											<!-- Wrapper for slides -->
											<div class="carousel slide product-slide" id="product-women">
												<div class="carousel-inner cont-slider">
													<div class="item active"> <img alt="" src="{{women.product_image_1.url}}" title=""> </div>
													<div class="item"> <img alt="" src="{{women.product_image_2.url}}" title=""> </div>
													<div class="item"> <img alt="" src="{{women.product_image_3.url}}" title=""> </div>
													<div class="item"> <img alt="" src="{{women.product_image_4.url}}" title=""> </div>
												</div>
												<!-- Indicators -->
												<ol class="carousel-indicators">
													<li class="active" data-slide-to="0" data-target="#product-women"> <img alt="" src="{{women.product_image_1.url}}"> </li>
													<li class="" data-slide-to="1" data-target="#product-women"> <img alt="" src="{{women.product_image_2.url}}"> </li>
													<li class="" data-slide-to="2" data-target="#product-women"> <img alt="" src="{{women.product_image_3.url}}"> </li>
													<li class="" data-slide-to="3" data-target="#product-women"> <img alt="" src="{{women.product_image_4.url}}"> </li>
												</ol>
											</div>
											<!-- Wrapper for slides -->
											<div class="container">
												<div class="row">
													<div class="col-md-8 col-md-push-2">
														<div class="row">
															<div class="col-md-7">
																<h3 class="pull-left nk section-heading">{{women.name}}</h3>
															</div>
															<div class="col-md-5">
																<span class="product-right-section">
																	<span>${{women.price}}</span>
																</span>
															</div>
														</div>
													</div>
													<div class="col-md-8 col-md-push-2 product-description">
														<h4 class="section-heading">{{women.desc}}</h4>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{%endfor%}
							
						</ul>
					</div>				
				</div>

			


				
				
			</div>
		</div>
		

	</section>
	<!--/ products area end -->	
	
	<!-- Testimonials area -->	
	<section class="testimonials" id="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="section-heading">Testimonials</h3>
				</div>
				<div class="testimonials-slider text-center col-md-12">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="testimonials-container shadow"> <img alt="user avatar" src="{% static 'assets-for-index-2/img/user.png' %}">
								<h3> Martin Johe, Co-Founder / CEO <span>Fastcompany ltd.</span> </h3>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="testimonials-container shadow"> <img alt="user avatar" src="{% static 'assets-for-index-2/img/user2.png' %}">
								<h3> Martin Johe, Co-Founder / CEO <span>Fastcompany ltd.</span> </h3>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="testimonials-container shadow"> <img alt="user avatar" src="{% static 'assets-for-index-2/img/user.png' %}">
								<h3> Martin Johe, Co-Founder / CEO <span>Fastcompany ltd.</span> </h3>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
							</div>
						</div>
					</div>
					<div class="testimonials-pagination"></div>
					<div class="testimonials-slider-next right-arrow-negative"> <span class="ti-arrow-right"></span> </div>
					<div class="testimonials-slider-prev left-arrow-negative"> <span class="ti-arrow-left"></span> </div>
				</div>
			</div>
		</div>
	</section>
	<!--/ Testimonials area end -->		

	
	<!-- counter section -->	
	<section class="text-center shadow section section-min nnrr">
		<div class="about-counter" id="about-counter">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6  about-counter-single">
						<div class="counter"> <span class="fa fa-truck icon"></span>
							<h2>Free Shipping World Wide</h2>
						</div>
					</div>
					<div class="col-md-3 col-sm-6  about-counter-single">
						<div class="counter"> <span class="ti-gift icon"></span>
							<h2>Special Gift Per Order</h2>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 about-counter-single">
						<div class="counter"> <span class="fa fa-money icon"></span>
							<h2>money back guarantee</h2>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 about-counter-single">
						<div class="counter"> <span class="ti-headphone-alt icon"></span>
							<h2>24/7 online support</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	<!--/ counter section end-->

	
	
	<!-- counter section -->	
	{% comment %} <div class="blog_area">
		<div class="blog-counter" id="blog">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12">
						<h3 class="section-heading">Latest Blog</h3>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-sm-6  blog-single">
						<div class="single_blog">
							<img src="{% static 'assets-for-index-2/img/b1.jpg' %}" alt="">
							<div class="blog_details">
								<a href="#"><h1>How to use mask properly  </h1></a>
								<span>April 16, 2020</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting 
									industry. Lorem Ipsum has been the industry</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6  blog-single">
						<div class="single_blog">
							<img src="{% static 'assets-for-index-2/img/b2.jpg' %}" alt="">
							<div class="blog_details">
								<a href="#"><h1>The blood sample Of covid 19</h1></a>
								<span>April 02, 2020</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting 
									industry. Lorem Ipsum has been the industry</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6  blog-single">
						<div class="single_blog">
							<img src="{% static 'assets-for-index-2/img/b3.jpg' %}" alt="">
							<div class="blog_details">
								<a href="#"><h1>All About Corona Virus  </h1></a>
								<span>April 14, 2020</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting 
									industry. Lorem Ipsum has been the industry</p>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>	 {% endcomment %}
	<!--/ counter section end-->
	


<!-- contact section  -->	
<section id="contact" class="contact contact-with-map">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-heading">Get in Touch</h3>
			</div>
			<div class="col-md-3">
				<div class="contact-data">
					<h4>United States</h4>
					<ul>
						<li><span class="ti-mobile icon"></span>+ 123 456 7890</li>
						<li><span class="ti-email icon"></span>admin@goshop</li>
						<li><span class="ti-map-alt icon"></span>201 Oak Street Building 27 <br> Manchester, USA</li>
					</ul>
				</div>
				<div class="contact-data">
					<h4>Australia</h4>
					<ul>
						<li><span class="ti-mobile icon"></span>+ 123 456 7890</li>
						<li><span class="ti-map-alt icon"></span>201 Oak Street Building 27 <br> Manchester, USA</li>
					</ul>
				</div>
			</div>
			<div class="col-md-8 col-md-push-1">
				<div class="contact-form">
					<form  class="contact-forms" id="contact-form" action="mail.php" method="post">
						<div class="form-group">
							<input class="form-control" type="text" name="name" placeholder="Name">
						</div>
						<div class="form-group">
							<input class="form-control" type="email" name="email" placeholder="E-mail">
						</div>
						<div class="form-group">
							<textarea class="form-control" name="message" cols="10" rows="7" placeholder="Message"></textarea>
						</div>
						<button type="submit" class="btn btn-round btn-g btn btn-primary btn-lg text-center float-right">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Form Message -->
	<div class="cr-contact-message-modal">
		<p class="form-messege"></p>
	</div>
	<!--// Form Message -->
	<!-- contact-map -->
	<div id="contact-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96811.54759587669!2d-74.01263924803828!3d40.6880494567041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25bae694479a3%3A0xb9949385da52e69e!2sBarclays%20Center!5e0!3m2!1sen!2sbd!4v1636195194646!5m2!1sen!2sbd" allowfullscreen loading="lazy"></iframe>
	</div>
	<!-- contact-map-end -->
</section>
<!--/ contact section  end-->

	<!-- Footer Section -->
	<div class="section section-min">
		<footer class="footer">
		 <div class="container">
			  <div class="row">

				   <div class="col-md-4 col-sm-12">
					   <div class="f_logo">
						<a href="#"><img src="{% static 'assets-for-index-2/img/logo.png' %}" alt="" /></a>
						<p>Sed ut perspiciatis unde omnis iste natus error sit best shop for you voluptatem.Sed ut perspiciatis unde omnis iste natus errorsit.</p>
					   </div>
				   </div>

				   <div class="col-md-4 col-sm-12 info_menu">
						<h4>INFORMATIONS</h4>
						<ul>
							<li><a href="#">  Delivery information </a></li>
							<li><a href="#">   Privacy Policy </a></li>
							<li><a href="#">   Terms & Conditions </a></li>
							<li><a href="#">   Return & Exchange </a></li>
						</ul>
						<ul>
							<li><a href="#">  Free Shipping </a></li>
							<li><a href="#">   Order Status </a></li>
							<li><a href="#">   Gift Cards</a></li>
							<li><a href="#">   International</a></li>
						</ul>
				   </div>

				   <div class="col-md-4  col-sm-12">
					<div class="footer-newsletter">
						<div class="center">
							<h4>stay with us</h4>
							<form action="#" method="post">
								<div class="input-group">
									<input class="form-control " type="text" placeholder="e-mail"> 
									<span class="input-group-btn">
										<button class="btn btn-default" type="button"><span class="ti-arrow-right"></span></button>
									</span>
								</div>
							</form>
							<div class="social">
								<ul>
									<li class="fndus">Find us here:</li>
									<li><a href="http://facebook.com/" target="_blank"><span class="ti-facebook"></span></a></li>
									<li><a href="https://twitter.com/" target="_blank"><span class="ti-twitter-alt"></span></a></li>
									<li><a href="http://linkedin.com/" target="_blank"><span class="ti-linkedin"></span></a></li>
									<li><a href="https://vimeo.com/" target="_blank"><span class="ti-vimeo-alt"></span></a></li>
									<li><a href="http://youtube.com/" target="_blank"><span class="ti-youtube"></span></a></li>
								</ul>
							</div>
							
						</div>
					</div>

				   </div>

				   <div class="clearfix col-md-12 col-sm-12">
						<hr>
				   </div>

				   <div class="col-md-12 col-sm-12">
						<div class="footer-copyright">
							 <p>© 2022 Bestshop - All Rights Reserved.</p>
						</div>
				   </div>
				   
		 	   </div>
		    </div>
	    </footer>
{%endblock%}