{% extends 'homepage.html'%}
{%load static%}
{% block content%}

	<!-- PRELOADER -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->
	<!-- header -->
	{% include 'header.html'%}
	<!--/ End header -->
	x
	<!-- slider -->
		
	<!--/ slider -->
	
	<!-- cart section -->
	<span id="items-counter" class="cart-items-counter" style="display: none">0</span>
	{%include 'cart.html'%}
	
	


	<!-- Banner Area Start Here -->
	
	<!-- Banner Area End Here -->

	
	<!-- products area -->	
	

	
	<section class="section-min section product " >
		<div class="container overflow-hidden">
			<div class="row">
				<div class="col-md-12">
					<h3 class="section-heading">Our Products</h3>
				</div>
				<div class="col-md-12">
					<div class="product-list-sliderd">
						<ul class="swiper-wrappers product-list product-list-vertical">
							{%for women in women%}
							<li class="swiper-slidess text-center" style="max-width:300px;" style="max-height: 150px;"> 
								<span class="product-list-left pull-left">
									<a href="{% url 'women_detail' women.id%}"  data-toggle="modal"><img alt="product image" class="product-list-primary-img" src="{{women.product_image_1.url}}" style="max-width:300px;" style="max-height: 150px;"> 
									<img alt="product image" class="product-list-secondary-img" src="{{women.product_image_2.url}}">
									</a>
								</span> 

								<a href="{% url 'women_detail' women.id%}"  data-toggle="modal">
									<span class="product-list-right pull-left">
										<span class="product-list-name h4 black-color">{{women.name}}</span>
										<span class="product-list-price">${{women.price}}</span>
										<span class="rating-area">
											<span class="ti-star "></span>
											<span class="ti-star "></span>
											<span class="ti-star "></span>
											<span class="ti-star"></span>
											<span class="ti-star"></span>
										</span>
									</span>
								</a> 
								<button class="btn btn-default add-item" type="button" data-image="{{women.product_image_1.url}}" data-name="{{women.name}}" data-cost="{{women.price}}" data-id="8">
									add to cart </button>
							</li>
							{%endfor%}

							
							
						</ul>
						<ul class="swiper-wrappers product-list product-list-vertical">
							{%for men in men%}
							<li class="swiper-slidess text-center" style="max-width:300px;" style="max-height: 150px;"> 
								<span class="product-list-left pull-left">
									<a href="{% url 'men_detail' men.id%}"  data-toggle="modal"><img alt="product image" class="product-list-primary-img" src="{{men.product_image_1.url}}" style="max-width:300px;" style="max-height: 150px;"> 
									<img alt="product image" class="product-list-secondary-img" src="{{men.product_image_2.url}}">
									</a>
								</span> 

								<a href="{% url 'men_detail' men.id%}"  data-toggle="modal">
									<span class="product-list-right pull-left">
										<span class="product-list-name h4 black-color">{{men.name}}</span>
										<span class="product-list-price">${{men.price}}</span>
										<span class="rating-area">
											<span class="ti-star "></span>
											<span class="ti-star "></span>
											<span class="ti-star "></span>
											<span class="ti-star"></span>
											<span class="ti-star"></span>
										</span>
									</span>
								</a> 
								<button class="btn btn-default add-item" type="button" data-image="{{men.product_image_1.url}}" data-name="{{men.name}}" data-cost="{{men.price}}"  >
									add to cart
								</button>
							</li>
							{%endfor%}

							
							
						</ul>
					</div>				
				</div>

					
					


				
				
			</div>
		</div>
		
		<!-- PRODUCT MODAL -->
		
		<!-- / PRODUCT MODAL -->
	</section>

	
	<!--/ products area end -->	
	
	<!-- Testimonials area -->	
	
	<!--/ Testimonials area end -->		

	
	<!-- counter section -->	
	<section class="text-center shadow section section-min nnrr">
		<div class="about-counter" id="about-counter">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6  about-counter-single">
						<div class="counter"> <span class="fa fa-truck icon"></span>
							<h2>Free Shipping World Wide</h2>
						</div>
					</div>
					<div class="col-md-3 col-sm-6  about-counter-single">
						<div class="counter"> <span class="ti-gift icon"></span>
							<h2>Special Gift Per Order</h2>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 about-counter-single">
						<div class="counter"> <span class="fa fa-money icon"></span>
							<h2>money back guarantee</h2>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 about-counter-single">
						<div class="counter"> <span class="ti-headphone-alt icon"></span>
							<h2>24/7 online support</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	<!--/ counter section end-->

	
	
	<!-- counter section -->	
	{% comment %} <div class="blog_area">
		<div class="blog-counter" id="blog">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12">
						<h3 class="section-heading">Latest Blog</h3>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-sm-6  blog-single">
						<div class="single_blog">
							<img src="{% static 'assets-for-index-2/img/b1.jpg' %}" alt="">
							<div class="blog_details">
								<a href="#"><h1>How to use mask properly  </h1></a>
								<span>April 16, 2020</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting 
									industry. Lorem Ipsum has been the industry</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6  blog-single">
						<div class="single_blog">
							<img src="{% static 'assets-for-index-2/img/b2.jpg' %}" alt="">
							<div class="blog_details">
								<a href="#"><h1>The blood sample Of covid 19</h1></a>
								<span>April 02, 2020</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting 
									industry. Lorem Ipsum has been the industry</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6  blog-single">
						<div class="single_blog">
							<img src="{% static 'assets-for-index-2/img/b3.jpg' %}" alt="">
							<div class="blog_details">
								<a href="#"><h1>All About Corona Virus  </h1></a>
								<span>April 14, 2020</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting 
									industry. Lorem Ipsum has been the industry</p>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>	 {% endcomment %}
	<!--/ counter section end-->
	


<!-- contact section  -->	
<section id="contact" class="contact contact-with-map">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-heading">Get in Touch</h3>
			</div>
			<div class="col-md-3">
				<div class="contact-data">
					<h4>Our Contacts</h4>
					<ul>
						<li><span class="ti-mobile icon"></span>{{contacts.phone}}</li>
						<li><span class="ti-email icon"></span>{{contacts.email}}</li>
						<li><span class="ti-map-alt icon"></span>{{contacts.address}}</li>
					</ul>
				</div>
				
			</div>
			<div class="col-md-8 col-md-push-1">
				<div class="contact-form">
					<form  class="contact-forms" method="POST">
						{%csrf_token%}
						<div class="form-group">
							<input class="form-control" type="text" name="name" placeholder="Name">
						</div>
						<div class="form-group">
							<input class="form-control" type="email" name="email" placeholder="E-mail">
						</div>
						<div class="form-group">
							<textarea class="form-control" name="message" cols="10" rows="7" placeholder="Message"></textarea>
						</div>
						<button type="submit" class="btn btn-round btn-g btn btn-primary btn-lg text-center float-right">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Form Message -->
	<div class="cr-contact-message-modal">
		<p class="form-messege"></p>
	</div>
	<!--// Form Message -->
	<!-- contact-map -->
	<div id="contact-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46789.311352326615!2d74.55503415218283!3d42.86583708757605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7dc91b3c881%3A0x492ebaf57cdee27d!2z0JHQuNGI0LrQtdC6!5e0!3m2!1sru!2skg!4v1670241108356!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<!-- contact-map-end -->
</section>
<!--/ contact section  end-->

	<!-- Footer Section -->
	<div class="section section-min">
		<footer class="footer">
		 <div class="container">
			  <div class="row">

				   <div class="col-md-4 col-sm-12">
					   <div class="f_logo">
						<a href="#"><img src="{{setting.logo_site.url}}" style="max-width:100px;" alt="" /></a>
						<p>{{setting.name_site}} - {{setting.description_site}}</p>
					   </div>
				   </div>

				   <div class="col-md-4 col-sm-12 info_menu">
						<h4>INFORMATIONS</h4>
						<ul>
							<li><a href="#men">  Men products </a></li>
							<li><a href="#women">   Women Product </a></li>
							<li><a href="#testimonials">   Testimonials</a></li>
							<li><a href="#contact">   Contacts </a></li>
						</ul>
						
				   </div>

				   

				   <div class="clearfix col-md-12 col-sm-12">
						<hr>
				   </div>

				   <div class="col-md-12 col-sm-12">
						<div class="footer-copyright">
							<p><li><a href="https://github.com/Nurbolottop">© 2022 Codex Studio - All Rights Reserved.</a></li></p>
						</div>
				   </div>
				   
		 	   </div>
		    </div>
	    </footer>
{%endblock%}